cluster: stanfordaimi
project: stanfordaimi
accountNumber: "084375550014"
configuration:
  configurationRevision: calico-dev
alb-controller:
  enabled: true
  configuration:
    enabled: true
calico:
  enabled: true
  configuration:
    enabled: false
coreDNS:
  enabled: true
  configuration:
    enabled: false
grafana-alloy:
  enabled: true
  configuration:
    enabled: false
karpenter:
  enabled: true
  targetRevision: "1.8.6"
  configuration:
    enabled: false
karpenter-crds:
  amiSelectorName: "EKS-1-33-al23*"
  enabled: true
  selectorTag: stanfordaimi
  migration: true
  default:
    disruptionBudget: "80%"
    nodeClassRef:
      apiVersion: karpenter.k8s.aws/v1
      kind: EC2NodeClass
      name: default
    amiFamily: AL2023
    limits:
      memory: 1100Gi
    consolidationPolicy: "WhenUnderutilized"
    consolidateAfter: "1m"
    expireAfter: "72h"
    volumeSize: 80Gi
    requirements:
      - key: karpenter.sh/capacity-type
        operator: In
        values:
          - spot
      - key: kubernetes.io/arch
        operator: In
        values:
          - amd64
      - key: karpenter.k8s.aws/instance-memory
        operator: Gt
        values:
          - "7000"
      - key: karpenter.k8s.aws/instance-memory
        operator: Lt
        values:
          - "32500"
vpc-cni:
  enabled: true
  configuration:
    enabled: false
kube-proxy:
  enabled: true
