# The name of the cluster this configuration is going to. This should match the name of the directory configuration
# is stored in
cluster: qaplanetv1
project: qa

accountNumber: "707767160287"

alb-controller:
  enabled: true
  configuration:
    enabled: true

aws-s3-mountpoint:
  enabled: true
  configuration:
    enabled: false

calico:
  enabled: true
  configuration:
    enabled: false

cert-manager:
  enabled: true

coreDNS:
  enabled: true
  targetRevision: "1.43.1"
  configuration:
    enabled: false

crossplane:
  enabled: true

custom-objects:
  enabled: true

ebs-csi-driver:
  enabled: true
  configuration:
    enabled: false

fluentd:
  enabled: false
  configuration:
    enabled: false

kube-state-metrics:
  enabled: true
  configuration:
    enabled: false

grafana-alloy:
  enabled: true
  configuration:
    enabled: false

karpenter:
  enabled: true
  configuration:
    enabled: true  

karpenter-crds:
  amiSelectorName: "EKS-1-33-al23*"
  enabled: true
  selectorTag: qaplanetv1
  migration: true
  default:
    weight: 20
    disruptionBudget: "70%"
    nodeClassRef:
      apiVersion: karpenter.k8s.aws/v1
      kind: EC2NodeClass
      name: default
    amiFamily: AL2023
    consolidationPolicy: "WhenEmptyOrUnderutilized"
    consolidateAfter: "1m"
    expireAfter: "72h"
    volumeSize: 80Gi
    requirements:
      - key: karpenter.sh/capacity-type
        operator: In
        values:
          - on-demand
      - key: kubernetes.io/arch
        operator: In
        values:
          - amd64
      - key: karpenter.k8s.aws/instance-family
        operator: In
        values:
          - m8i-flex
          - r8i-flex
          - m7i-flex
          - m8i
          - r8i
      - key: karpenter.k8s.aws/instance-memory
        operator: Gt
        values:
          - "7000"
      - key: karpenter.k8s.aws/instance-memory
        operator: Lt
        values:
          - "17000"
  secondary:
    enabled: true
    weight: 80
    disruptionBudget: "70%"
    nodeClassRef:
      apiVersion: karpenter.k8s.aws/v1
      kind: EC2NodeClass
      name: secondary
    amiFamily: AL2023
    consolidationPolicy: "WhenEmptyOrUnderutilized"
    consolidateAfter: "1m"
    expireAfter: "72h"
    volumeSize: 80Gi
    requirements:
      - key: karpenter.sh/capacity-type
        operator: In
        values:
          - spot
      - key: kubernetes.io/arch
        operator: In
        values:
          - amd64
      - key: karpenter.k8s.aws/instance-family
        operator: In
        values:
          - m8i-flex
          - r8i-flex
          - m7i-flex
          - c7i-flex
          - r7i-flex          
          - m8i
          - r8i
          - r7i
          - c6i
          - c7i
          - m5
          - m6i
          - r5
          - t3
          - m7i
          - r6i

      - key: karpenter.k8s.aws/instance-memory
        operator: Gt
        values:
          - "7000"
      - key: karpenter.k8s.aws/instance-memory
        operator: Lt
        values:
          - "17000"
  workflow:
    nodeClassRef:
      apiVersion: karpenter.k8s.aws
      kind: EC2NodeClass
      name: workflow
    amiFamily: AL2023
    volumeSize: 80Gi
  jupyter:
    nodeClassRef:
      apiVersion: karpenter.k8s.aws
      kind: EC2NodeClass
      name: jupyter
    amiFamily: AL2023
    volumeSize: 80Gi

vpc-cni:
  enabled: true
  configuration:
    enabled: false

crossplane-crds:
  enable: true
  useIRSA: true
  iamRoleName: "crossplane-test-qaplanetv1"
kube-proxy:
  enabled: true
