cluster: bloodv2
project: bloodv2
accountNumber: "562749638216"

alb-controller:
  enabled: true
  configuration:
    enabled: false

aws-s3-mountpoint:
  enabled: true
  configuration:
    enabled: false

calico:
  enabled: true
  configuration:
    enabled: false

cert-manager:
  enabled: true

coreDNS:
  enabled: true
  configuration:
    enabled: false

ebs-csi-driver:
  enabled: false
  configuration:
    enabled: false

external-secrets:
  enabled: true

fluentd:
  enabled: false
  configuration:
    enabled: false

kube-state-metrics:
  enabled: true
  configuration:
    enabled: false

grafana-alloy:
  enabled: true
  configuration:
    enabled: false

karpenter:
  enabled: true
  targetRevision: "1.8.6"

karpenter-crds:
  amiSelectorName: "EKS-1-33-al23*"
  enabled: true
  selectorTag: bloodv2
  migration: false   
  default:
    weight: 90
    disruptionBudget: "80%"  
    nodeClassRef:
      apiVersion: karpenter.k8s.aws/v1
      kind: EC2NodeClass
      name: default
    amiFamily: AL2023
    consolidationPolicy: "WhenEmptyOrUnderutilized"
    consolidateAfter: 1m
    expireAfter: 72h
    volumeSize: 50Gi
    limits:
      resources:
        cpu: "32"   
    requirements:
      - key: karpenter.sh/capacity-type
        operator: In
        values:
          - spot
      - key: kubernetes.io/arch
        operator: In
        values:
          - amd64
      - key: node.kubernetes.io/instance-type
        operator: In
        values:
          - r8a.medium
          - r8a.large
          - r8a.xlarge
          - r8i-flex.large
          - r8i-flex.xlarge
          - r8i.large
          - r8i.xlarge
          - r7a.large
          - r7a.xlarge
          - r7i.large
          - r7i.xlarge
          - r6a.large
          - r6a.xlarge
          - r6i.large
          - r6i.xlarge
          - r5a.large
          - r5i.large
  workflow:
    nodeClassRef:
      apiVersion: karpenter.k8s.aws
      kind: EC2NodeClass
      name: workflow
    amiFamily: AL2023
    volumeSize: 40Gi
  jupyter:
    nodeClassRef:
      apiVersion: karpenter.k8s.aws
      kind: EC2NodeClass
      name: jupyter
    amiFamily: AL2023
    volumeSize: 40Gi

vpc-cni:
  enabled: true
  configuration:
    enabled: false
kube-proxy:
  enabled: true
