cluster: devplanetv2
project: dev

accountNumber: "707767160287"

alb-controller:
  enabled: true
  hostNetworkEnabled: "true"
  configuration:
    enabled: false

aws-s3-mountpoint:
  enabled: true
  configuration:
    enabled: true

calico:
  enabled: true
  configuration:
    enabled: false

cert-manager:
  enabled: true

cilium:
  enabled: true

coreDNS:
  enabled: true
  configuration:
    enabled: false

crossplane:
  enabled: true

crossplane-crds:
  enable: true
  useIRSA: true
  iamRoleName: "crossplane-test-devplanetv2"

custom-objects:
  enabled: true

ebs-csi-driver:
  enabled: true
  configuration:
    enabled: false

fluentd:
  enabled: false
  configuration:
    enabled: false

kube-state-metrics:
  enabled: true
  configuration:
    enabled: false

grafana-alloy:
  enabled: true
  configuration:
    enabled: false

karpenter:
  enabled: true
  targetRevision: "1.8.6"

karpenter-crds:
  amiSelectorName: "EKS-1-33-al23*"
  enabled: true
  selectorTag: devplanetv2
  migration: true
  default:
    disruptionBudget: "80%"   
    nodeClassRef:
      apiVersion: karpenter.k8s.aws/v1
      kind: EC2NodeClass
      name: default
    amiFamily: AL2023
    limits:
      memory: 1100Gi
    consolidationPolicy: "WhenEmptyOrUnderutilized"
    consolidateAfter: "1m"
    expireAfter: "72h"
    volumeSize: 80Gi
    requirements:
      - key: karpenter.sh/capacity-type
        operator: In
        values: [on-demand, spot]
      - key: kubernetes.io/arch
        operator: In
        values: [amd64]
      - key: node.kubernetes.io/instance-type
        operator: In
        values:
          - r8i-flex.large
          - r8i-flex.xlarge
          - m8i-flex.large
          - m8i-flex.xlarge
          - r8i.large
          - r8i.xlarge
          - r8a.medium
          - r8a.large
          - r8a.xlarge          
          - r7a.large
          - r7a.xlarge
          - r7i.large
          - r7i.xlarge
          - r6a.large
          - r6a.xlarge
          - r6i.large
          - r6i.xlarge
          - r5a.large
          - r5i.large

metrics-server:
  enabled: true
  hostNetworkEnabled: true
  configuration:
    enabled: false
    
  workflow:
    nodeClassRef:
      apiVersion: karpenter.k8s.aws/v1
      kind: EC2NodeClass
      name: workflow
    amiFamily: AL2023
    volumeSize: 80Gi
  jupyter:
    nodeClassRef:
      apiVersion: karpenter.k8s.aws/v1
      kind: EC2NodeClass
      name: jupyter
    amiFamily: AL2023
    volumeSize: 80Gi

vpc-cni:
  enabled: true
  configuration:
    enabled: false
kube-proxy:
  enabled: true
