cluster: csoc_main_vpc
project: gen3-csoc
accountNumber: "433568766270"
calico:
  enabled: true
  configuration:
    enabled: false
coreDNS:
  enabled: true
  configuration:
    enabled: false
ebs-csi-driver:
  enabled: true
  configuration:
    enabled: false
grafana-alloy:
  enabled: true
  configuration:
    enabled: false
karpenter:
  enabled: true
  targetRevision: "1.8.6"
  configuration:
    enabled: false
karpenter-crds:
  amiSelectorName: "EKS-1-33-al23*"
  enabled: true
  selectorTag: csoc_main_vpc
  migration: true
  default:
    disruptionBudget: "80%"
    nodeClassRef:
      apiVersion: karpenter.k8s.aws/v1
      kind: EC2NodeClass
      name: default
    amiFamily: AL2023
    limits:
      memory: 1100Gi
    consolidationPolicy: "WhenEmptyOrUnderutilized"
    consolidateAfter: "1m"
    expireAfter: "72h"
    volumeSize: 80Gi
    requirements:
      - key: karpenter.sh/capacity-type
        operator: In
        values:
          - spot
      - key: kubernetes.io/arch
        operator: In
        values:
          - amd64
      - key: karpenter.k8s.aws/instance-memory
        operator: Gt
        values:
          - "7000"
      - key: karpenter.k8s.aws/instance-memory
        operator: Lt
        values:
          - "32500"
kube-proxy:
  enabled: true
vpc-cni:
  enabled: true
