ambassador:
  jupyterNamespace: jupyter-pods
arborist:
  replicaCount: 4
  autoscaling:
    enabled: false
    maxReplicas: 1
    minReplicas: 1
    targetCPUUtilizationPercentage: 40
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/arborist
    tag: "2025.12"
audit:
  externalSecrets:
    auditG3auto: vadcprod-audit-g3auto
  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::663707118480:role/vadcprod--vadcprod-helm--audit-sqs-receiver
  image:
    tag: "2025.12"
aws-es-proxy:
  enabled: true
  esEndpoint: vpc-vadcprod-gen3-metadata-2-vqrbyt4omluv7b2uqw5idjdwua.us-east-1.es.amazonaws.com
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/aws-es-proxy
    tag: v1.3.1
argo-wrapper:
  replicaCount: 2
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/argo-wrapper
    tag: VA-2025.10.28
  scalingGroups:
    default: "{{workflow.name}}"
  s3Bucket: vadcprod-argo-user-artifacts-downloadable
  internalS3Bucket: vadcprod-argo-bucket
  environment: vadcprod-helm
cohort-middleware:
  replicaCount: 2
  enabled: true
  externalSecrets:
    cohortMiddlewareG3Auto: vadcprod-cohort-middleware-g3auto
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/cohort-middleware
    tag: VA-2025.10.28
dashboard:
  replicaCount: 4
  autoscaling:
    enabled: false
    maxReplicas: 1
    minReplicas: 1
    targetCPUUtilizationPercentage: 40
  dashboardConfig:
    bucket: dashboard-663707118480-vadcprod-gen3
    prefix: vpodc.data-commons.org
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/gen3-statics
    tag: "2025.12"
  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::663707118480:role/vadcprod--vadcprod-helm--dashboard-access
etl:
  esEndpoint: elasticsearch
  etlMapping:
    mappings:
      - category: data_file
        doc_type: file
        injecting_props:
          case:
            props:
              - name: submitter_id
              - name: project_id
        name: file_tube_etl_mickey
        props:
          - name: object_id
          - name: md5sum
          - name: file_name
          - name: file_size
          - name: data_format
          - name: data_type
          - name: state
        root: None
        type: collector
  image:
    tube:
      tag: "2025.12"
    spark:
      tag: "2025.12"
fence:
  usersync:
    usersync: true
    userYamlS3Path: s3://cdis-gen3-users/vadcprod/user.yaml
  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::663707118480:role/vadcprod--vadcprod-helm--audit-sqs-sender
  replicaCount: 4
  autoscaling:
    enabled: false
    maxReplicas: 1
    minReplicas: 1
    targetCPUUtilizationPercentage: 40
  enabled: true
  externalSecrets:
    createK8sGoogleAppSecrets: true
    fenceConfig: vadcprod-fence-config
    fenceJwtKeys: vadcprod-fence-jwt
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/fence
    tag: "2025.12"
portal:
  enabled: false
frontend-framework:
  replicaCount: 2
  enabled: true
  image:
    repository: quay.io/cdis/vpodc-data-commons
    tag: 0.11
global:
  pdb: true
  aws:
    account: "663707118480"
    awsEsProxyRole: vadcprod--vadcprod-helm--es-access
    enabled: true
    hatchery_role: vadcprod--vadcprod-helm--hatchery-sa
    secretStoreServiceAccount:
      enabled: true
      roleArn: arn:aws:iam::663707118480:role/vadcprod--vadcprod-helm--external-secrets-sa
    wafv2:
      enabled: true
      wafAclArn: arn:aws:wafv2:us-east-1:663707118480:regional/webacl/vadcprod-waf/144cec8b-dab0-4bec-809f-79b787add403
  dev: false
  dictionaryUrl: https://s3.amazonaws.com/dictionary-artifacts/vadictionary/0.5.4/schema.json
  dispatcherJobNum: "10"
  environment: vadcprod
  frontendRoot: gen3ff
  externalSecrets:
    deploy: true
    createSlackWebhookSecret: true
    slackWebhookSecretName: vadcprod-slack-webhook
  hostname: vpodc.data-commons.org
  fenceURL: https://vpodc.data-commons.org/user
  manifestGlobalExtraValues:
    kube_bucket: kube-vadcprod-gen3
    logs_bucket: logs-vadcprod-gen3
  maintenanceMode: "off"
  portalApp: gitops
  postgres:
    dbCreate: false
  revproxyArn: arn:aws:acm:us-east-1:663707118480:certificate/69ecb9e8-bcc8-4e91-9248-5eb3fcab5940
guppy:
  authFilterField: auth_resource_path
  replicaCount: 4
  autoscaling:
    enabled: false
    maxReplicas: 1
    minReplicas: 1
    targetCPUUtilizationPercentage: 40
  configIndex: etl_mickey_array-config
  enabled: true
  esEndpoint: http://elasticsearch:9200
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/guppy
    tag: "2026.02"
  indices:
    - index: etl_mickey
      type: patients
    - index: file_etl_mickey
      type: file
    - index: omop_etl_index_cohortb_20251119
      type: cohort_b_patients
hatchery:
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/hatchery
    tag: "2025.12"
  hatchery:
    json: |
      {
          "user-namespace": "jupyter-pods",
          "sub-dir": "/lw-workspace",
          "user-volume-size": "10Gi",
          "default-pay-model": {
              "workspace_type": "Trial Workspace",
              "local": true
          },
          "sidecar": {
              "cpu-limit": "1.0",
              "memory-limit": "256Mi",
              "image": "707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/ecs-ws-sidecar:2026.02",
              "env": {
                  "NAMESPACE": "default",
                  "HOSTNAME": "vpodc.data-commons.org"
              },
              "args": [],
              "command": [
                  "/bin/bash",
                  "./sidecar.sh"
              ],
              "lifecycle-pre-stop": [
                  "su",
                  "-c",
                  "echo test",
                  "-s",
                  "/bin/sh",
                  "root"
              ]
          },
          "containers": [
              {
                  "target-port": 8888,
                  "cpu-limit": "1.0",
                  "memory-limit": "4Gi",
                  "name": "(Generic) Jupyter Lab Notebook with R Kernel",
                  "image": "707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/jupyter-prometheus:prometheus-master",
                  "env": {
                      "FRAME_ANCESTORS": "https://vpodc.data-commons.org/"
                  },
                  "args": [
                      "--JupyterNotebookApp.base_url=/lw-workspace/proxy/",
                      "--JupyterNotebookApp.default_url=/lab",
                      "--JupyterNotebookApp.password=''",
                      "--JupyterNotebookApp.token=''",
                      "--JupyterNotebookApp.ip='*'",
                      "--JupyterNotebookApp.notebook_dir='/home/jovyan'",
                      "--JupyterNotebookApp.shutdown_no_activity_timeout=5400",
                      "--JupyterNotebookApp.quit_button=False"
                  ],
                  "command": [
                      "start-notebook.sh"
                  ],
                  "path-rewrite": "/lw-workspace/proxy/",
                  "use-tls": "false",
                  "ready-probe": "/lw-workspace/proxy/",
                  "lifecycle-post-start": [
                      "/bin/sh",
                      "-c",
                      "export IAM=`whoami`; rm -rf /home/$IAM/pd/dockerHome; rm -rf /home/$IAM/pd/lost+found; ln -s /data /home/$IAM/pd/; true"
                  ],
                  "user-uid": 1010,
                  "fs-gid": 101,
                  "user-volume-location": "/home/jovyan/pd",
                  "gen3-volume-location": "/home/jovyan/.gen3"
              },
              {
                "args": [
                  "--JupyterNotebookApp.base_url=/lw-workspace/proxy/",
                  "--JupyterNotebookApp.default_url=/lab",
                  "--JupyterNotebookApp.password=''",
                  "--JupyterNotebookApp.token=''",
                  "--JupyterNotebookApp.ip='*'",
                  "--JupyterNotebookApp.notebook_dir='/home/jovyan'",
                  "--JupyterNotebookApp.shutdown_no_activity_timeout=3600",
                  "--JupyterNotebookApp.quit_button=False"
                ],
                "command": [
                  "start-notebook.sh"
                ],
                "gpu": true,
                "cpu-limit": "3.0",
                "env": {
                  "FRAME_ANCESTORS": "https://vpodc.data-commons.org/"
                },
                "fs-gid": 100,
                "gen3-volume-location": "/home/jovyan/.gen3",
                "image": "quay.io/cdis/jupyter-prometheus:prometheus-master",
                "pull_policy": "Always",
                "lifecycle-post-start": [
                  "/bin/sh",
                  "-c",
                  "export IAM=`whoami`; rm -rf /home/$IAM/pd/dockerHome; rm -rf /home/$IAM/pd/lost+found; ln -s /data /home/$IAM/pd/; true"
                ],
                "memory-limit": "8Gi",
                "name": "(GPU) QA-VPODC Embedding Demos",
                "path-rewrite": "/lw-workspace/proxy/",
                "ready-probe": "/lw-workspace/proxy/",
                "target-port": 8888,
                "use-tls": "false",
                "user-uid": 1010,
                "user-volume-location": "/home/jovyan/pd"
              }
          ]
      }
indexd:
  defaultPrefix: dg.F738/
  replicaCount: 4
  autoscaling:
    enabled: false
    maxReplicas: 1
    minReplicas: 1
    targetCPUUtilizationPercentage: 40
  enabled: true
  externalSecrets:
    serviceCreds: vadcprod-indexd-service-creds
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/indexd
    tag: "2025.12"
manifestservice:
  enabled: true
  externalSecrets:
    manifestserviceG3auto: vadcprod-manifestservice-g3auto
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/manifestservice
    tag: "2025.12"
  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::663707118480:role/vadcprod--vadcprod-helm--manifest-service-sa
metadata:
  replicaCount: 4
  autoscaling:
    enabled: false
    maxReplicas: 1
    minReplicas: 1
    targetCPUUtilizationPercentage: 40
  enabled: true
  esEndpoint: http://elasticsearch:9200
  externalSecrets:
    metadataG3auto: vadcprod-metadata-g3auto
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/metadata-service
    tag: "2025.12"
ohdsi-atlas:
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/ohdsi-atlas
    tag: VA-2026.01.08
ohdsi-webapi:
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/ohdsi-webapi
    tag: VA-2025.10.24
  externalSecrets:
    dbcreds: vadcprod-ohdsi-webapi-creds
peregrine:
  replicaCount: 4
  autoscaling:
    enabled: false
    maxReplicas: 1
    minReplicas: 1
    targetCPUUtilizationPercentage: 40
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/peregrine
    tag: "2025.12"
revproxy:
  replicaCount: 4
  autoscaling:
    enabled: false
    maxReplicas: 1
    minReplicas: 1
    targetCPUUtilizationPercentage: 40
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/nginx
    tag: "2025.12"
  ingress:
    aws:
      group: vadcprod
      sslPolicy: ELBSecurityPolicy-TLS13-1-2-Res-FIPS-2023-04
sheepdog:
  replicaCount: 4
  autoscaling:
    enabled: false
    maxReplicas: 1
    minReplicas: 1
    targetCPUUtilizationPercentage: 40
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/sheepdog
    tag: "2025.12"
sower:
  enabled: true
  externalSecrets:
    pelicanserviceG3auto: vadcprod-pelicanservice-g3auto
    createK8sSowerJobsSecret: false
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/sower
    tag: "2025.12"
  sowerConfig: []
ssjdispatcher:
  enabled: true
  externalSecrets:
    credsFile: vadcprod-ssjdispatcher-creds
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/ssjdispatcher
    tag: "2025.12"
  indexing: quay.io/cdis/indexs3client:2025.12
wts:
  replicaCount: 4
  autoscaling:
    enabled: false
    maxReplicas: 1
    minReplicas: 1
    targetCPUUtilizationPercentage: 40
  enabled: true
  externalSecrets:
    createWtsOidcClientSecret: false
    wtsG3auto: vadcprod-wts-g3auto
    wtsOidcClient: vadcprod-wts-client-secret
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/workspace-token-service
    tag: "2025.12"
